<div class="container mt-5">
  <div class="row">
   <div class="col-md-4 mb-4"
         *ngFor="let course of filteredCourses">
      <div class="card h-100 shadow text-center"
           [ngStyle]="{
             'background-color': course.seats <= 2 ? '#ffdddd' : 'white'
           }">
        <img [src]="course.image" class="card-img-top p-2"
             style="height:200px; object-fit:cover;">
        <div class="card-body">
          <h4>{{ course.title }}</h4>
          <p>Instructor: {{ course.instructor }}</p>
          <p>Original Price: {{ course.price }}</p>
          <p>After Discount (20%):
            {{ course.price | discount:20 }}
          </p>
          <p>Seats: {{ course.seats }}</p>
          <p *ngIf="course.seats <= 2 && course.seats > 0" style="color:red;">
            Almost Full
          </p>
          <button class="btn btn-primary"
                  (click)="decreaseSeat(course)"
                  [disabled]="course.seats === 0"
                  appDisableAfterClick>
            Register
         </button>
        </div>
      </div>
    </div>
  </div>
</div>